* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90vw;
  /* border: 1px solid black; */
  margin: 1rem auto;
  text-align: center;
}
h1 {
  font-size: 3.5rem;
  padding: 1.5rem 0;
  text-decoration: underline;
}
.users {
  border-bottom: 0.2rem solid black;
  padding-bottom: 0.75rem;
  display: flex;
  /* height: 4rem; */
  align-items: center;
  margin-top: 0.75rem;
}
.users:hover .img {
  transform: scale(1.4);
}
.users:hover .name {
  font-size: 1.4rem;
  transform: translateX(1.5rem);
}
.name {
  display: inline;
  font-size: 1.25rem;
  margin-left: 2rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.img {
  width: 4rem;
  height: 4rem;
  transition: all 0.3s ease-in;
  border-radius: 50%;
  border: 2px solid red;
  margin-left: 1rem;
}
